<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>

<div>
  <button id="nextbtn" class="float-right">NEXT</button>
  <button id="prevbtn" class="float-left">PREV</button>
</div>

<div>
  <table id="month_table">
    <thead class="month_header">
    <tr><th id="month_name" colspan="7">THE MONTH</th></tr>
    <tr id="month_days"></tr>
    </thead>
    <tbody id="month_body">
    </tbody>
  </table>
</div>

<div class="get-events">
  <h2 class="text-center">Right Drawer</h2>
  <div class="event-date">
    <h5>Date</h5>
  </div>
  <div class="events">
  </div>
</div>
<div class="create-events">
  <form id="createEventForm">
    <h4 class="margin-0">Create new event</h4>

    <div class="margin-top-20 text-center">
      <label for="evtName">Event Name: </label>
      <input class="form-element" type="text" name="title" placeholder="Name of Event" id="evtName" value="Event Name"/>
    </div>

    <div class="margin-top-20 text-center">
      <div class="inline-block">
        <label for="startDate">Start Time: </label>
        <input class="form-element" type="datetime-local" name="startDate" id="startDate" value="2016-11-01T12:00"/>
      </div>
    </div>

    <div class="margin-top-20 text-center">
      <div class="inline-block">
        <label for="endDate">End Time: </label>
        <input class="form-element" type="datetime-local" name="endDate" id="endDate" value="2016-11-01T12:00"/>
      </div>
    </div>

    <div class="margin-top-20 text-center">
      <label for="description">Description: </label>
      <textarea class="form-element" name="desc" placeholder="Description of event" id="description"></textarea>
    </div>

    <div class="margin-top-20 text-center">
      <label for="color">Description: </label>
      <select class="form-element" name="color" id="color">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
      </select>
    </div>

    <h5>Repeat</h5>
    <div class="margin-top-20">
      <input class="form-element" type="radio" name="repeat" value="None" checked>None
      <input class="form-element" type="radio" name="repeat" value="Weekly">Weekly
      <input class="form-element" type="radio" name="repeat" value="Monthly">Monthly
    </div>

    <div class="margin-top-20">
      <input class="form-element" type="checkbox" name="repeat_days" value="sun">Sun
      <input class="form-element" type="checkbox" name="repeat_days" value="mon">Mon
      <input class="form-element" type="checkbox" name="repeat_days" value="tue">Tue
      <input class="form-element" type="checkbox" name="repeat_days" value="wed">Wed
      <input class="form-element" type="checkbox" name="repeat_days" value="thur">Thu
      <input class="form-element" type="checkbox" name="repeat_days" value="fri">Fri
      <input class="form-element" type="checkbox" name="repeat_days" value="sat">Sat
    </div>

    <div class="margin-top-20">
      <h4>This event will repeat on the {date} of each month</h4>
    </div>

    <button type="submit">Submit</button>

  </form>

</div>
<div class="overlay hide"></div>

<button class="create-event-btn">Create</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="javascripts/script.js"></script>
</body>
</html>
